body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.nome-usuario {
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

header img {
    height: 70px;
}


h2 {
    font-size: 18px;
    margin-top: 20px;
}

.card {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.986);
}

label {
    font-size: 13px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.produto {
    border-left: 4px solid #000000;
    padding-left: 10px;
}

.linha {
    display: flex;
    gap: 8px;
}

.linha>div {
    flex: 1;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: white;
}

.data-input {
    width: 95px;
    padding: 6px 8px;
    font-size: 14px;
}

hr{
    border: 2px solid silver;
}

.botao {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
}

.botao:hover {
    background-color: #505050;
}

.botao-secundario {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
}

.botao-secundario:hover{
    background-color: #505050;
}

.lote {
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: 8px;
    border-radius: 6px;
}

.campo-qtd {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.campo-qtd input {
    width: 95%;
    text-align: center;
}

.datas-lote {
    display: flex;
    gap: 6px;
}

.datas-lote div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.datas-lote input {
    text-align: center;
    font-size: 13px;
}

label {
    font-size: 12px;
    margin-bottom: 2px;
}

.ocorrencias {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 13px;
}

.ocorrencias label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.campo-obs {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.campo-obs textarea {
    resize: none;
    font-size: 13px;
    padding: 4px;
}