<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Entrada</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio_entrada.css') }}">
</head>

<body>

    <header>
        <h1>Relatório Entrada</h1>
        <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
    </header>

    <div class="nome-usuario">
        {% if session['username'] %}
        <h4>Bem-vindo, {{ session['username'] }}!</h4>
        {% endif %}
    </div>

    <hr><br>

    <h2>Selecionar Carga</h2>

    <div class="card">
        <label for="transporte" style="font-size: 18px;">Transporte:<label> 
        <select id="transporte"></select>
        <br>

        <div id="info-carga" style="margin-top: 15px;"></div>

        <br>
        <button class="botao" onclick="carregarCarga()">Carregar Carga</button>
    </div>

    <h2>Produtos</h2>
    <hr>

    <div id="produtos"></div>

    <button type="button" class="botao" onclick="enviarRelatorio()">
        Enviar Relatório
    </button>

    <script>
        function mascaraData(campo) {
            let v = campo.value.replace(/\D/g, "");
            if (v.length >= 3) v = v.slice(0, 2) + "/" + v.slice(2);
            if (v.length >= 6) v = v.slice(0, 5) + "/" + v.slice(5, 9);
            campo.value = v;
        }

        async function carregarOpcoes() {
            const res = await fetch('/relatorio_entrada/opcoes');
            const dados = await res.json();
            const select = document.getElementById('transporte');
            select.innerHTML = '';
            dados.transportes.forEach(t => {
                select.innerHTML += `<option value="${t}">${t}</option>`;
            });
        }

        async function carregarCarga() {
            const transporte = document.getElementById('transporte').value;
            const res = await fetch(`/relatorio_entrada/carga?transporte=${encodeURIComponent(transporte)}`);
            const carga = await res.json();

            const divProdutos = document.getElementById('produtos');
            const divInfoCarga = document.getElementById('info-carga');

            divProdutos.innerHTML = '';
            divInfoCarga.innerHTML = '';

            if (!carga.produtos || carga.produtos.length === 0) {
                divProdutos.innerHTML = '<p>Nenhuma carga encontrada.</p>';
                return;
            }

            divInfoCarga.innerHTML = `
                <p style="font-size: 16px;">
                    Data Prevista Chegada: <span style="font-weight: normal" id="data-chegada">${formatarData(carga.data)}</span><br>
                    Motorista: <span style="font-weight: normal" id="nome-motorista">${carga.motorista}</span>
                </p>
            `;


            carga.produtos.forEach((p, index) => {
                divProdutos.innerHTML += `
                <div class="card produto">
                    <b>${p.descricao}</b><br>
                    Código: ${p.codigo} | Quantidade Total: ${p.quant}

                    <br><br>

                    <button type="button" class="botao-secundario"
                        onclick="adicionarLote(${index})">
                        + Adicionar lote
                    </button>

                    <div class="lotes" id="lotes-${index}"></div>
                </div>`;
            });
        }

        function adicionarLote(index) {
            const container = document.getElementById(`lotes-${index}`);

            const loteHTML = `
            <div class="lote">

                <hr>

                <div class="campo-qtd">
                    <label>Quantidade</label>
                    <input type="number" min="1" class="qtd-lote">
                </div>

                <div class="datas-lote">
                    <div>
                        <label>Estoque</label>
                        <input type="text"
                            placeholder="DD/MM/AAAA"
                            inputmode="numeric"
                            maxlength="10"
                            class="data-input"
                            oninput="mascaraData(this)">
                    </div>

                    <div>
                        <label>Fabricação</label>
                        <input type="text"
                            placeholder="DD/MM/AAAA"
                            inputmode="numeric"
                            maxlength="10"
                            class="data-input"
                            oninput="mascaraData(this)">
                    </div>

                    <div>
                        <label>Vencimento</label>
                        <input type="text"
                            placeholder="DD/MM/AAAA"
                            inputmode="numeric"
                            maxlength="10"
                            class="data-input"
                            oninput="mascaraData(this)">
                    </div>
                </div>

                <!-- OCORRÊNCIAS -->
                <div class="ocorrencias">
                    <label><input type="checkbox" class="chk-fefo"> Alterar FEFO</label>
                    <label><input type="checkbox" class="chk-pallet"> Pallet Danificado</label>
                    <label><input type="checkbox" class="chk-vazamento"> Vazamento</label>
                </div>

                <!-- OBSERVAÇÃO -->
                <div class="campo-obs">
                    <label>Observação</label>
                    <textarea rows="2" placeholder="Digite uma observação..."></textarea>
                </div>

            </div>
            `;

            container.insertAdjacentHTML("beforeend", loteHTML);
        }

        function formatarData(dataISO) {
            if (!dataISO) return "";
            const [ano, mes, dia] = dataISO.split("-");
            return `${dia}/${mes}/${ano}`;
        }

        carregarOpcoes();


        async function enviarRelatorio() {

            // Data
            const agora = new Date();
            const dia = String(agora.getDate()).padStart(2, '0');
            const mes = String(agora.getMonth() + 1).padStart(2, '0');
            const ano = agora.getFullYear();
            const dataEnvioFormatada = `${dia}/${mes}/${ano}`;

        
            const transporte = document.getElementById("transporte").value;

            const dataChegada = document.getElementById("data-chegada")?.innerText || "";

            const nomeMotorista = document.getElementById("nome-motorista")?.innerText || "";

            const produtosDOM = document.querySelectorAll(".card.produto");


            const produtos = [];
            produtosDOM.forEach(produtoEl => {

                const texto = produtoEl.innerText;

                const codigoMatch = texto.match(/Código:\s*(\S+)/);
                const codigo = codigoMatch ? codigoMatch[1] : "";

                const descricao = produtoEl.querySelector("b")?.innerText || "";

                const lotesDOM = produtoEl.querySelectorAll(".lote");

                const lotes = [];

                lotesDOM.forEach(loteEl => {
                    lotes.push({
                        quantidade: loteEl.querySelector(".qtd-lote")?.value || null,
                        estoque: loteEl.querySelectorAll(".data-input")[0]?.value || null,
                        fabricacao: loteEl.querySelectorAll(".data-input")[1]?.value || null,
                        vencimento: loteEl.querySelectorAll(".data-input")[2]?.value || null,
                        alterar_fefo: loteEl.querySelector(".chk-fefo")?.checked || false,
                        pallet_danificado: loteEl.querySelector(".chk-pallet")?.checked || false,
                        vazamento: loteEl.querySelector(".chk-vazamento")?.checked || false,
                        observacao: loteEl.querySelector("textarea")?.value || ""
                    });
                });

                if (lotes.length > 0) {
                    produtos.push({
                        codigo,
                        descricao,
                        lotes
                    });
                }
            });

            const payload = {
                transporte: transporte,
                data_envio_relatorio: dataEnvioFormatada,
                data_prevista_carga: dataChegada,
                nome_motorista: nomeMotorista,
                produtos: produtos
            };

            await fetch("/relatorio_entrada/salvar", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "sucesso") {

                    window.location.href = data.url; 
                } else {
                    alert("Erro ao salvar: " + data.mensagem);
                }
            })};
    </script>

</body>

</html>